.main-header{
  text-align: center;
}

.animal-header{
  text-align: center;
}

.animal-link{
  font-family: $font-heading;
  font-size: 175%;
  color: $color-text-primary;
  text-decoration: none;
}

.link{
  font-family: $font-heading;
  font-size: 200%;
  color: $color-text-primary;
  text-decoration: none;
}
