.home-page{
  display: flex;
  flex-flow: column;
  padding-top: 30px;
}

.create-account{
  display: flex;
  flex-direction: row;
}

.login{
  display: flex;
  align-items: center;
}

.button{
  font-family: $font-text-primary;
  font-size: 125%;
  border-radius: 10%;
}

.button:active{
  color: $color-background-headings;
}

.header-three-login{
  font-family: $font-text-primary;
  font-size: 125%;
}
