.home-page {
  display: flex;
  flex-flow: column;
  padding-top: 30px;
}

.button {
  font-family: $font-heading;
  font-size: 125%;
  border-radius: 10%;
  background-color: $color-background-headings;
}

.button:active {
  color: $color-background-headings;
}

.header-three-login {
  font-family: $font-text-primary;
  font-size: 125%;
}

.home-section {
  border: solid;
  font-size: 15x;
  border-radius: 15px 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border-color: #68B0AB;
}
