.home-page {
  display: flex;
  flex-flow: column;
  padding-top: 30px;
}

.button {
  font-family: $font-heading;
  font-size: 125%;
  border-radius: 5px;
  border: none;
  background-color: $color-background-headings;
}

.button:hover {
  opacity: .4;
}

.header-three-login {
  font-family: $font-text-primary;
  font-size: 125%;
}

.home-section {
  border: solid;
  border-radius: 15px 50px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-color: #BBC7CE;
}

.home-input{
  margin-bottom: 10px;
  border-radius: 10px;
  height: 20px;
  font-size: 19px;
  content: center;
}

.home-h3{
  text-align: center;
}
