.marker-btn{
  background: none;
  border: none;
}

.marker-btn:hover{
  position: relative;
  top: -5px;
}

.popup{
  display:grid;
  width: 50%;
}

.map-link{
  text-decoration: none;
  font-family: $font-heading;
  font-size: 150%;
  color: $color-text-primary;
  background-color: $color-background-headings;
  border-radius: 10px;
}

.map-link:hover{
  opacity: .4;
}

.map{
  margin-top: 40px;
  border: solid;
  border-color: #0E34A0;
  border-radius: 15px 50px;
}

.react-map{
  border-radius: 12px 46px;
}
