.notes-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #F7EBEC;
  align-content: center;
}

.notes-card{
  display: flex;
  margin: 5px 5px 5px 5px;
  height: 200px;
  width: 410px;
  overflow-y: scroll;
  background-color: white;
  border: solid #5BBA6F;
  border-radius: 15px 50px;
}

.header-two{
  text-align: center;
  width: 400px;
}

.new-textarea{
  height: 100px;
  width: 135px;
  font-size: 15px;
  overflow: auto;
}

.note-background{
  display: flex;
  padding-top: 10px;
  background-color: #F7EBEC;
  height: 25vh;
  width: 100vw;
  justify-content: center;
}

.input{
  font-size: 15px;
  height: 20px;
  width: 135px;
}

.new-input{
  border-radius: 20px;
  height: 30px;
  font-size: 20px;

}

.textarea{
  border: none;
  height: 100px;
  width: 300px;
  font-size: 15px;
  border-radius: 5px;
}

.notes-p-tag{
  display: flex;
  font-family: $font-text-primary;
  font-size: 150%;
  width: 400px;
  text-align: center;
}
