.region-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.region-card{
  flex-flow: wrap;
  margin: 5px;
  height: 500px;
  width: 410px;
  justify-content: space-between;
  border: solid #7bb2d9;
  border-radius: 15px 50px;
  overflow: auto;
  justify-content: center;
  background-color: white;
}

.region-header-three{
  text-align: center;
  font-family: $font-text-secondary;
  font-size: 175%;
  color: black;
  opacity: 1;
  // text-shadow: 2px 2px gray;
}

.p-tag{
  justify-content: space-around;
  padding-left: 70px;
  padding-right: 70px;
}

.region-header-five{
  text-align: center;
  justify-content: flex-start;
  font-family: $font-text-secondary;
  font-size: 150%;
}
