.region-container{
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  justify-content: center;
  background-color: #C4B7CB;
}

.region-card{
  padding-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 40vw;
  border-style: solid;
  border-color: gray;
  border-radius: 15px;
  text-align: justify;
  background-color: white;
}

.region-card:hover{
  border-color: #48ACF0;
  position: relative;
  top: -10px;
}

.region-header-three{
  text-align: center;
  font-family: $font-text-secondary;
  font-size: 175%;
  color: black;
  opacity: 1;
}

.p-tag{
  justify-content: space-around;
  padding-left: 70px;
  padding-right: 70px;
}

.region-header-five{
  text-align: center;
  justify-content: flex-start;
  font-family: $font-text-secondary;
  font-size: 150%;
}
